/*-----------------------------------------------------------------------------
* @Description:     面板
* @Version:         1.0.0
* @author:          simon(406400939@qq.com)
* @date             2014.5.30
* ==NOTES:=============================================
* v1.0.0(2014.5.30):
*   notes detail
*---------------------------------------------------------------------------*/

/* ==========================================================================
--公用
========================================================================== */

.panel{
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.panel-title{
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    background-color: #F5F5F5;
}
.panel-body{
    padding: 15px;
}


/* ==========================================================================
--红色主题
========================================================================== */
.panel-red{
    border: 1px solid #EF8476;
    box-shadow: 0 1px 1px rgba(239, 132, 138, 0.1);   
}
.panel-red .panel-title{
    border-bottom: 1px solid #EF8476;
    padding: 10px 15px;
    background-color: #E02222;
    color: #fff;
}


/* ==========================================================================
--绿色主题
========================================================================== */
.panel-green{
    border: 1px solid #EF8476;
    box-shadow: 0 1px 1px rgba(239, 132, 138, 0.1);   
}
.panel-green .panel-title{
    border-bottom: 1px solid #EF8476;
    padding: 10px 15px;
    background-color: #E02222;
    color: #fff;
}

