.ads{
	height: 133px;
	border-top: 3px solid #ddd9da; 
}
.ads img{
	display: block;
	margin: -3px auto 0 auto;
	width: 940px;
}
.holder{
	background-color: #fff;
	padding-top: 41px;
	padding-bottom: 40px;
}
.holder .container{
	margin: 0 auto;
	padding: 19px 18px;
	width: 940px;
	border-top: 2px solid #fe7411;
	border-bottom: 1px solid #d5d5d5; 
	clear: both;
}
.note{
	padding: 16px;
	border: 1px solid #fe7411;
	text-align: center;
	color: #fe6b01;
	font-size: 14px;
}
.container h2{
	margin-top: 22px;
	margin-bottom: 14px;
	font-size: 14px;
}
.user-info{
	padding: 20px 0 25px;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.user-info span{
	line-height: 25px;
	/*font-weight: bold;*/
	font-size: 14px;
}
.container table {
	width: 100%;
}
.container table th{
	height: 34px;
	background-color: #f2f2f2;
	border-top: 2px solid #e3e3e3; 
}
.container table td{
	height: 59px;
	border-bottom: 2px dashed #e2e2e2;
}
.container table td, table th{
	font-size: 14px;
	text-align: center;
	color: #333333;
}
.container .product-name{
	text-align: left;
	color: #fe6b01;
}
.orange, .order-msg p.orange{
	color: #fe6b01;
}
.order-msg{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 28px;
	text-align: right;
}
.order-msg p{
	position: relative;
	line-height: 24px;
	font-size: 14px;
	color: #333;
}
.title{
	position: absolute;
	width: 100px;
	top: 0;
	left: 0;
}
.price{
	display: block;
	width: 290px;
	margin-left: 100px;
	color: #fe6b01;
}
.bigger{
	font-size: 24px;
	color: #fe6b01;
}
.total{
	margin-top: 24px;
}
.order-msg button{
	margin-top: 50px;
	background-color: #fe6b01;
	padding: 6px 30px;
	border: none;
	border-radius: 5px;
	color: #fefefe;
	font-size: 20px;
	cursor: pointer;
}
.order-msg button:hover{
	background-color: #f66904;
}
.control-group{
	float: left;
	margin-top: 20px;
}
.control-label {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: left !important;
    width: 80px !important;
}
.controls {
    line-height: 30px;
    margin-left: 80px !important;
}
/*.controls textarea {
    height: 30px;
    width: 385px;
    line-height: 30px;
}*/